body.landing {
    background-color: rgb(58,23,63);
}

.hero-content {
    position: relative;
    min-height: 600px;
    background-image: url(../assets/images/bloc_jams_bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.hero-content .hero-title {
    opacity: 1;
    position: absolute;
    top: 40%;
    -webkit-transform: scaleX(0.9) translateY(50%);
    -moz-transform: scaleX(0.9) translateY(50%);
    transform: scaleX(0.9) translateY(50%);
    width: 100%;
    text-align: center;
    font-size: 4rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    text-shadow: 1px 1px 0px rgb(58,23,63);
    -webkit-transition-delay: .5s;
    -moz-transition-delay: .5s;
    transition-delay: .5s;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.selling-points {
    position: relative;
}

.point {
    position: relative;
    padding: 2rem;
    text-align: center;
    opacity: 0;
    -webkit-transform: scaleX(0.9) translateY(3rem);
    -moz-transform: scaleX(0.9) translateY(3rem);
    transform: scaleX(0.9) translateY(3rem);
    -webkit-transition: all 1.25s ease-in-out;
    -moz-transition: all 1.25s ease-in-out;
    transition: all 1.25s ease-in-out;
    -webkit-transition-delay: .5s;
    -moz-transition-delay: .5s;
    transition-delay: .5s;
}

.point .point-title {
    font-size: 1.25rem;
}

.ion-music-note,
.ion-radio-waves,
.ion-iphone {
    color: rgb(233,50,117);
    font-size: 5rem;
}